*{
	box-sizing: border-box;
}
html{
	font-family: sans-serif;
}
header{
	background: #3B5998;
	padding: 15px;
}

header a{
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	font-weight: 300;
}

header .fa{
	color: #FFF;
	font-size: 16px
}

a{
	text-decoration: none;
}

header .logo-area, 
header .menu, 
header .menu ul li, 
header .icon-links, 
header .icon-links ul li, 
header .icon-links .privacy, 
header .icon-links .quick-options, 
header .search-area, 
header .search-area ul li{
	display: inline-block;
}

header .logo-area,
header .menu,
header .icon-links{
	width: 20%;
	margin-left: -4px;
}

header .logo-area a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

header .menu ul li a{
	margin-right: 20px;
}

header .icon-links{
	padding-left: 20px;
}

header .icon-links ul li{
	margin-right: 10px;
}

header .menu, header .quick-options{
	border-right: 1px solid rgba(255, 255, 255, .3);
	text-align: right;
	padding-right: 20px;
}

header .quick-options, header .icon-links .privacy{
	padding-left: 20px;

}

header .search-area{
	width: 40%;
	text-align: right;
	margin-left: -4px;
}


header .logo-area{
	color: #fff;
	width: 20%;
}

header .logo-area a{
	color: #fff;
 	text-decoration: none;
 	font-size: 20px;
}

/*==================================================================================*/
/*======================================TOP-AREA====================================*/

#top-area{
	padding: 200px 15px 90px 15px;
	background: url('../img/barraques.cat_background-wallpaper_7755.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#top-area .profile-info .user-img{
	padding: 10px;
	display: inline-block;
}

#top-area .profile-info .user-img img{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

#top-area .profile-info .user-details{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}

#top-area .profile-info .user-details h3{
	color: #FFF;
	font-size: 24px;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 10px;
}

#top-area .profile-info .user-details a{
	display: inline-block;
	margin-left: -4px;
	width: 45%;
	margin-right: 5%;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	font-size: 10px;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: rgba(255, 255, 255, .3);
	transition: background .4s ease-in-out;
}

#top-area .profile-info .user-details a:hover{
	background: #2196F3;
}

/*==================================================================================*/
/*====================================Content-AREA====================================*/

#content-area{
	background-color: #FAFAFA;	
	overflow: auto;
	padding: 50px 0;
}

#content-area .side-column{
	float: left;
	width: 35%;
	margin: 0 2.5%;
	max-width: 380px;
}

#content-area .widget-box{
	padding: 15px;
	background-color:  #FFF;
	margin: 0 0 15px 0;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
	-moz-box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
	box-shadow: 0px 2px 5px -1px rgba(138,138,138,1);
	overflow: auto;
}

#content-area .widget-box .head .widget-icon-container{
	display: inline-block;
}

#content-area .widget-box .head .widget-icon-container .widget-icon{
	background-color: rgb(229, 229, 229);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content-area .widget-box .head .widget-icon .fa{
	max-width: 50%;
	font-size: 22px;
}

#content-area .widget-box .head .widget-title{
	display: inline-block;
	padding: 0 0 0 10px;
}

#content-area .widget-box .body{
	padding: 25px 0;
}

#content-area .side-column .photos .body div img, #content-area .side-column .friends .body div img {
	display: inline-block;
	float: left;
	width: 33.3%;
	height: 110px;
	padding: 3px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

#content-area .main-area{
	float: left;
	width: 55%;
	margin: 0 2.5%;
}

#content-area .main-area .widget-box.submenu{
	padding: 0;
	margin: 0 0 20px 0;
}

#content-area .main-area .submenu ul{
	padding: 0;
}

#content-area .main-area .submenu ul li{
	display: inline-block;
	float: left;
	width: 20%;
	padding: 10px;
	text-align: center;
	border-bottom: 3px solid #FFF;
	transition: all .4s easy-in-out;
	cursor: pointer;
	color: rgb(128,128,128);
}

#content-area .main-area .submenu ul li:hover{
	border-bottom: 3px solid #2196F3;
	color: #2196F3;
}

#content-area .main-area .submenu ul li:nth-child(5){
	padding: 25px 0 21px;
	border-bottom: none;
}

#content-area .main-area .submenu ul li .fa{
	font-size: 20px;
}

#content-area .main-area .submenu ul li span{
	display: block;
	margin: 15px 0 0 0;
	font-size: 14px;
	text-transform: uppercase;
}

#content-area .main-area .widget-box.post{
	overflow: auto;
}

#content-area .main-area .widget-box.post .head .user-img{
	display: inline-block;
	float: left;
	background: url('../img/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE%40._V1_UX172_CR0%2C0%2C172%2C256_AL_.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 40px; 
	width: 40px;
	margin: 0 15px 0 0;
	border-radius: 50%;
}

#content-area .main-area .widget-box.post .head .post-info{
	display: inline-block;
	float: left;
	width: 80%;
}

#content-area .main-area .widget-box.post .head .post-info .user-info{
	display: block;
	font-size: 14px;
	margin: 4px 0 6px 0;
}

#content-area .main-area .widget-box.post .head .post-info .post-date{
	color: gray;
	font-size: 12px;
}

